# node.js

logs
.grunt
node_modules
.npm

npm-debug.log

# JetBrains

*.iml
.idea/
*.ipr
*.iws
.idea_modules/

/config.js
/errorreport.js

/data.db
/data/

/motd.txt

/.package.json

/static/docs
/static/kristwallet

.env
