<!doctype html>
<html lang="en">
<head>
  <title>Krist</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,300">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:100">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64x64.png">
  <link rel="icon" type="image/png" sizes="128x128" href="/favicon-128x128.png">
</head>
<body {{#if error}}class="error"{{/if}}>
  <header>
    <div class="top">
      <img src="logo.svg" id="logo" />
      <h1>Krist</h1>
    </div>
    <p>A minable currency that works across servers</p>

    <p class="small">Created by <a href="http://www.computercraft.info/forums2/index.php?/user/35172-3d6/">3d6</a> and <a href="https://github.com/Lemmmy">Lemmmy</a></p>
    {{#if debug}}
      <br /><br /><p class="small">This is a development server running in debug mode.</p>
    {{/if}}
  </header>
  <main>
    {{{body}}}
  </main>
</body>
</html>
