html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

body {
	line-height: 1;

	color: #fff;

	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;

	background-image: -webkit-gradient(
			linear,
			left top,
			right bottom,
			color-stop(0, #58aeea),
			color-stop(1, #517fd2)
	);

	background-image: -o-linear-gradient(right bottom, #58aeea 0%, #517fd2 100%);
	background-image: -moz-linear-gradient(right bottom, #58aeea 0%, #517fd2 100%);
	background-image: -webkit-linear-gradient(right bottom, #58aeea 0%, #517fd2 100%);
	background-image: -ms-linear-gradient(right bottom, #58aeea 0%, #517fd2 100%);
	background-image: linear-gradient(to right bottom, #58aeea 0%, #517fd2 100%);

	background-repeat: no-repeat;
	background-attachment: fixed;
}

header {
	width: 100%;
	padding: 2rem 3rem;

	background: rgba(0, 0, 0, 0.1);
}

header h1 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 8rem;
	font-weight: 100;
}

main {
	text-align: center;

	display: flex;

	padding: 2rem;
}

main section {
	padding: 1rem 4rem 1rem 1rem;
}

section#left {
	min-width: 350px;
}

a, a:visited, a:active {
	color: #fff;

	text-decoration: none;

	transition: all 180ms ease;
}

a:hover {
	color: rgba(255, 255, 255, 0.6);
}

h3 {
	display: block;

	margin-bottom: 0.5em;

	font-size: 24px;
	text-align: left;
}

p {
	margin-bottom: 0.25em;
}

p:last-child {
	margin-bottom: 0;
}

.titanic {
	float: none;
}

.small {
	font-size: 90%;

	color: rgba(255, 255, 255, 0.6);
}

.links {
	text-align: left;
}

.links li a {
	display: inline-block;
	padding: 0.15em 0;

	position: relative;
	left: 0;

	transition: all 180ms ease;
}

.links.smaller {
	font-size: 85%;
}

.links li:before {
	content: '>';

	color: rgba(255, 255, 255, 0.5);

	margin-right: 0.5rem;

	transition: all 180ms ease;
}

.links li:not(.disabled):hover:before {
	color: rgba(255, 255, 255, 0.7);

	font-weight: 400;
}

.links li:not(.disabled) a:hover {
	transition: all 180ms ease;

	left: 0.5rem;
}

.coming-soon {
	text-decoration: line-through;
	color: rgba(255, 255, 255, 0.8);
}

.git-commits {
	background: rgba(255, 255, 255, 0.2);
	text-align: left;
	padding: 0.25rem;
	font-size: 16px;
	font-weight: 400;
	border-radius: 2px;
}

.git-commits .commit {
	vertical-align: middle;
	padding: 0.2rem;
	border-radius: 2px;

	transition: all 180ms ease;
}

.git-commits .commit:hover {
	background: rgba(255, 255, 255, 0.2);
}

.git-commits .commit .commit-bar {
	display: table-cell;
	width: 4px;
	border-radius: 2px;
	background: rgba(255, 255, 255, 0.6);
	content: '';
}

.git-commits .commit .commit-info {
	display: table-cell;

	padding: 0.2rem 0.2rem 0.2rem 0.4rem;
}

.git-commits .commit .commit-info .message {
	color: #fff !important;
}

.git-commits .commit .author {
	font-weight: 300;
	color: rgba(255, 255, 255, 0.8);
}

.github-icon {
	display: inline-block;
	margin-left: 0.25em;
}
